<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
	
  </div>
  <!-- hosted by coding start -->
  <div align="right" style="position:relative;float:right;right:20px;bottom:70px" >
	<a href="https://pages.coding.me" target="_blank"><img height="100px" width="100px" src="/images/hosted-by-coding.png"></img></a>
  </div>
  <!-- hosted by coding end -->
</footer>