<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
	
  </div>
  <!-- vultr ref start -->
   <div align="right" style="position:relative;float:right;right:20px;bottom:70px" > 
	 <a href="https://www.vultr.com/?ref=7114970" target="_blank"><img height="100px" width="100px" src="https://www.vultr.com/media/banner_3.png"></img></a>
   </div> 
  <!-- vultr ref end -->
</footer>