# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 去年今日，来年如昨
subtitle: Rome was not built in one day.
description: 去年今日，来年如昨
author: Akame-moe
language: zh-CN
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://blog.gentlehu.com
root: /
permalink: :year/:month/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang

skip_render:
  - assets/**
  - css/**
  - fancybox/**
  - fonts/**
  - images/**
  - js/** 

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true
  
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true


highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: "    "

#Prismjs is disabled by default. You should set highlight.enable to false before enabling prismjs.
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: '    '

live2d:
  enable: false
  modeljson: /assets/pio/model-3.json

#put `rewards_disable: true` at an artical header to disalbe its rewards individually
rewards:
  enable: true
  tips: 如果你觉得本文对你有帮助，可以请我喝杯咖啡。
  button_text: 好吧，请你喝一杯

assistant:
  enable: false

show_tagcloud: false
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 5
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 20
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: landscape

meta_generator: false

feed:
  enable: true
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:

asset_pipeline:
  revisioning:
    enable: true
  clean_css:
    enable: true
  uglify_js:
    enable: true
  imagemin:
    enable: false
  html_minifier:
    enable: true